@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'Manrope', Arial, sans-serif;
  background-color: #eae8e2;
}

button {
  font: inherit;
}